<% layout('layouts/boilerplate') %> 


<div class="container d-flex justify-content-center align-items-center ">
    <div class="row w-75">
        <div class="col-md-6 offset-md-3 col-xl-6 offset-xl-4 mb-5">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1609975031156-a626cd7001ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required>
                            <div class="valid-feedback">
                                Looks god!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="text" id="email" name="email" required>
                            <div class="valid-feedback">
                                Looks god!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks god!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="adminCode">Admin code</label>
                            <input class="form-control" type="text" id="adminCode" name="adminCode" required>
                            <div class="valid-feedback">
                                Looks god!
                            </div>
                        </div>
                        <button class="btn btn-success col-12">Register</button>
                    </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
